my-ref{
    line-height : 1em;
    -moz-isolate : -moz-isolate;
    position : relative;
    font-size : 75%;
    vertical-align : baseline;  
    top : -0.5em;
}

my-ref a, .references li a {
    text-decoration : none;
}
